
:root {
    --white:#FFFFFF;
    --navy: #004D99;
    --red: #CC0000;
    --black:#000000;
    --montserrat: 'montserrat', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

body {
    color: var(--white);
    font-family: var(--montserrat);
    justify-content: center;
    align-items: center;
}

/* circles!! */

.circle-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.circle {
    width: 30px;
    height: 30px;
    border: 2px solid #8c8c8c;
    border-radius: 50%;
    position: relative;
    cursor: pointer;
    transition: border-color 0.3s ease;
}

.circle:hover {
    border-color: #000;
}

.circle-inner {
    width: 80%;
    height: 80%;
    background-color: #f2e8e4; /* Default color (Light Beige) */
    border-radius: 50%;
    margin: 10%;
    transition: background-color 0.3s ease;
}

.circle[data-color="1"] .circle-inner {
    background-color: #f2e8e4;
}

.circle[data-color="2"] .circle-inner {
    background-color: #ead8a1;
}

.circle[data-color="3"] .circle-inner {
    background-color: #d8dcc0;
}

.circle[data-color="4"] .circle-inner {
    background-color: #d6aa8b; 
}

.circle[data-color="5"] .circle-inner {
    background-color: #9FB7BF; 
}

.circle[data-color="6"] .circle-inner {
    background-color: #C1838A; /* Warm Yellow */
}

.circle[data-color="7"] .circle-inner {
    background-color: #C688B4; /* Soft Green */
}

.circle[data-color="8"] .circle-inner {
    background-color: #CFD3E4; /* Earthy Brown */
}

.circle[data-color="9"] .circle-inner {
    background-color: #E8A5B9; /* Earthy Brown */
}

.checkmark {
    position: absolute;
    top: -7px;
    right: -7px;
    width: 20px;
    height: 20px;
    background-color: #333;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 16px;
    opacity: 0;
    visibility: hidden;
    transform: scale(0.1); /* Start slightly smaller */
    transition: opacity 0.3s ease, visibility 0.3s ease, transform 0.3s ease;
}

.circle.selected .checkmark {
    opacity: 1;
    visibility: visible;
    transform: scale(1); /* Grow to full size */
}

.build-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);

.build-container img{
    width: 200px;
}

}
.pumpkin {
    margin: 30px auto 25px auto;
    width: 147px;
    height: auto;
}

.lip-gloss{
    margin: 5px auto 5px auto;
    width: 190px;
    height: auto;
}

#selected-image-1, #selected-image-2 {
    width: 200px;
    height: 200px;
    margin-top: 10px;
    object-fit: cover;
    border-radius: 8px;
    transition: transform 0.3s ease;
}

#selected-image-1.shown, #selected-image-2.shown {
    transform: scale(1.1);
}

/* end of circles */

.category{
    background-color: var(--navy);
    border: 5px solid #004D99;
    border-radius: 20px;
    /* display: grid; */
    margin: 10px;
    align-items: left;
    padding: 50px;
    min-width: 80%;
}

.content-box {
    padding:25px;
    border: 2px;
    border-color: var(--light-black);
    background-color: var(--light-black);
    margin: 20px;
    border-radius: 15px;
}
.main{
    color: #CC0000;
    align-items: center;
    text-align: center;
}
h1 {
    font-family: var(--montserrat);
    color: #CC0000;
    font-size: 50px;
}

h2 {
    font-family: var(--montserrat);
    color: #CC0000;
    font-size: 40px;
} 

h3 {
    background-color: #004D99;
    color: #FFFFFF;
    text-align: center;
    font-size: 20px;
    margin: 20px;
    margin-bottom: 30px;
}

img {
    align-items: center;
}

.visuals {
    display: grid;
    grid-gap: 45px;
    grid-template-columns: repeat(3, 1fr);
    place-items: center;
    margin-top: 30px;
}

.images {
    max-width: 380px;
}

.visuals h3{
    font-size: 20px;
    background-color: var(--navy);
}

.microinteraction{
    display: flex;
    flex-wrap: wrap;
}

.microinteraction-container{
    padding: 5px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    max-width: 100%;
}
/* .microinteraction-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
} */
/* 
.microinteraction-container {
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; /* Allow the cards to wrap to the next line */
    /* justify-content: center; /* Center the cards */
    /* gap: 20px; /* Space between cards */



section {
    display: flex;
    justify-content: center;
}


.link {
    color: #CC0000;
}
li{
    margin: auto;
}

/* @media screen and (max-width: 900px) {
    .container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 480px) {
    .container {
        grid-template-columns: 1fr;
    }

    img {
        width: 85vw;
    }
} */




@media (max-width: 667px) {
    .microinteraction-container{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .visuals {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
    .build-container{
        grid-template-columns: 1fr;
    }
    .category{
        width: 80%;
    }
} 

@media (max-width: 1000px) {
    .microinteraction-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 80%;
    }
    .build-container{
        grid-template-columns: repeat(2, 2fr);
    }
    .category{
        width: 80%;
    }
} 

@media (max-width: 1220px) {
    .visuals {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}


.card {
    border-color: #000000;
    width: 250px;
    height: 450px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease, transform 0.3s ease;    
    display: grid;
    grid-template-rows: auto;
    justify-content: center;
    margin: 30px;
}

.card:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* More prominent shadow on hover */
    transform: translateY(-5px); /* Slight lift effect */
}

.corrector {
    margin: auto;
    width: 147px;
    height: auto;
}

.build h1, .build h2, .build h3, .build h4 {
    font-family: Arial, Helvetica, sans-serif;
    color: #000000;
}

.build h5 {
    color: #666666;
    margin: 10px 2px;
    font-family: Arial, Helvetica, sans-serif;
}
.title {
    text-decoration: none;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin-top: 10px;
    text-align: center;
}

.title:hover {
    text-decoration: underline;
}

.reviews {
    display: flex;
    align-items: center; 
    justify-content: center;

}
.stars {
    width: 130px;
    height: 25px;
    text-align: center;
}

/* animating the numbers */
.quantity-animate {
    animation: scaleUp 0.2s ease-in-out;
}

@keyframes scaleUp {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
}


.button-group {
    display: flex;
    justify-self: center;
    gap: 10px;
    padding: 0 15px;
    margin: 10px;
    border-radius: 15px;
    background-color: var(--navy);
    width: 130px;
    height: 50px;
}

/* Button styles */
.button {
    background-color: var(--navy);
    border: none;
    cursor: pointer;
    padding: 5px;
    display: flex;
    align-items: center;
}

.icon {
    width: 20px;
    height: 20px;
    cursor: pointer;
}

/* Quantity display with cart icon and add text */
/* .quantity {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 16px;
} */

/* .quantity {
    display: flex;
    align-items: center;
    justify-content: center; /* Center content */
    /* gap: 5px; */
    /* font-size: 16px; */
    /* flex: 1; Ensure it takes up available space */


.quantity {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px; /* Adjust this to match the width needed */
    text-align: center;
}

/* Disabled state styles */
.button:disabled .icon {
    color: #ccc; /* Gray out the icon when disabled */
    cursor: pointer;
}

/* Hide cart icon and add text when quantity > 0 */
.quantity.filled .cart-icon,
.quantity.filled .add-text {
    display: none;
}


#minusButton{
    color: #ccc;
}
/* .quantity.filled{
    padding: 0 50px;
} */

.button {
    display: flex;
    align-items: center;
    justify-content: center;
}

.add {
    background-color: #004D99;
    color: #FFFFFF;
    border-radius: 20px;
    display: flex;
    align-items: center; 
    padding: 10px;
    font-weight: 300;
    font-size: medium;
    border: 2px solid #004D99;
    gap: 10px;
}

.add:hover {
    background-color: white;
    color:#004d99; 
    border: 2px solid rgba(0, 77, 153, 1);
}

.add:mouse-down {
    background-color: white;
    color:rgba(0, 77, 153, 0.5); 
    border: 2px solid rgba(0, 77, 153, 0.5);
}

.add:hover .cart {
    fill: #004D99;
    content: url('/assets/blue-cart.svg');
    width: 30px;
    height: 30px;
}

.add:disabled {
    background-color: #FFFFFF;
    color: #004D99;
    cursor: not-allowed;
}

.no-hover {
    pointer-events: none; /* Disable pointer events */
    background-color: #FFFFFF;
    color: #128737;
    border-color: #128737;
}

.adding {
    background-color: #FFFFFF;
    color: #004D99;
    border-color: #004D99;
    cursor: not-allowed;
}

.added {
    background-color: #FFFFFF;
    color: #128737;
    border-color: #128737;
}


.cart{
    width: 30px;
    height: 30px;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/* Apply the spin animation when the loading icon is shown */
.adding #icon {
    animation: spin 1s linear infinite;
}

.build h4 {
    padding: 0%;
    text-align: center;
}



h4 {
    margin: 0;
}
h5 {
    color: #000000;
}
